<mat-card class="meeting_creation_form_card">

    <mat-card class="top_section">

        <p style="font-size: 19px;">תאריך פגישה:</p>
        &nbsp;
        <p class="header_boldTxt">10/09/2020</p>

        <img style="width: 10px;margin-right: 22px;margin-left: 22px;" src="../assets/images/dot.svg">

        <p style="font-size: 19px;">שעה:</p>
        &nbsp;
        <p class="header_boldTxt">09:30</p>

        <img style="width: 10px;margin-right: 22px;margin-left: 22px;" src="../assets/images/dot.svg">

        <p style="font-size: 19px;">שם היועצת:</p>
        &nbsp;
        <p class="header_boldTxt">מיכל ינאי</p>

        <img style="width: 10px;margin-right: 22px;margin-left: 22px;" src="../assets/images/dot.svg">

        <p style="font-size: 19px;">טלפון:</p>
        &nbsp;
        <p class="header_boldTxt">052-6587924555</p>



    </mat-card>

    <div class="bottom_section">

        <mat-card class="right_section">

            <p class="boldTxt">מוצר נבחר</p>
            <p>{{productName}}</p>


            <p class="boldTxt">סוג פגישה</p>
            <div class="checkboxDiv">
                <mat-checkbox (change)="foo(0)">טלפונית</mat-checkbox>
                <mat-checkbox (change)="foo(1)">וידאו</mat-checkbox>
                <mat-checkbox (change)="foo(2)">פרונטלית</mat-checkbox>
            </div>
            <br>



            <!-- <p class="boldTxt">סינון לפי תכונות </p> -->
            <mat-form-field appearance="fill">
                <mat-label>סינון לפי תכונות</mat-label>
                <mat-select [formControl]="toppings" multiple>
                    <mat-option style="direction: rtl;" *ngFor="let topping of toppingList" [value]="topping.id"
                        (onSelectionChange)="addFoo($event,topping.id)">
                        {{topping.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- <p class="boldTxt">נותני שירות </p> -->
            <mat-form-field appearance="fill">
                <mat-label>נותני שירות</mat-label>
                <mat-select>
                    <mat-option style="direction: rtl;" *ngFor="let adviser of advisers" [value]="adviser">{{adviser}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <p class="boldTxt">מידע על היועצת </p>
            <mat-card style="overflow-y: scroll;background-color: #b3b3b3;">asdasd</mat-card>

            <p class="boldTxt">מיקום </p>




        </mat-card>
        <mat-card class="middle_section">

            <mat-card class="clendarPlaceholder">calendar</mat-card>
            <mat-card class="meetingResults">

                <app-meet-component></app-meet-component>
                <app-meet-component></app-meet-component>
                <app-meet-component></app-meet-component>
                <app-meet-component></app-meet-component>
            </mat-card>

        </mat-card>






        <mat-card class="left_section">

            <button style="height: 50px;width: 100%;" mat-raised-button>Basic</button>

        </mat-card>



    </div>

</mat-card>